table, th, td {

    border: 4xp solid rgb(0, 0, 0);
    border-style: double;
    width: 10%;
    color: white;
}

th, td {
    background-color:rgb(42, 122, 122)
}

table {
    width: 50%;
    height: 30%; 
  }

img {
    width: 50%
}
